<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
		https://openhab.org/schemas/config-description-1.0.0.xsd">
	<config-description uri="binding:unifiprotect">
		<parameter name="downloadBinaries" type="boolean">
			<label>Download Stream Binaries</label>
			<description>Download the stream binaries for go2rtc and ffmpeg if not already present on the system PATH</description>
			<default>true</default>
			<required>true</required>
		</parameter>
		<parameter name="ffmpegOptions" type="text">
			<label>FFmpeg Options</label>
			<description>Additional options to pass to FFmpeg</description>
			<default>-re -fflags nobuffer -f s16be -ar 8000 -i - -vn -b:a 32k -application voip -frame_duration 20</default>
			<required>true</required>
		</parameter>
	</config-description>
</config-description:config-descriptions>
